.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 250px;
    margin: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
  
    .movie-poster {
      width: 100%;
      height: auto;
    }
  
    .movie-details {
      padding: 15px;
      text-align: center;
  
      .movie-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }
  
      .movie-overview {
        font-size: 14px;
        color: #555;
      }
    }
  }